@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


html {
    --background: #fff;
    --on-background: #000000; 
    --on-background-b: #666;
}

body {
    font: 1em 'roboto', sans-serif;
    line-height: 1;
    background-color: var(--background);
    color: var(--on-background);
}

a{
    color: rgb(91, 179, 255);
    text-decoration: none;
}

.product {
    background-color: var(--on-background);
    color: var(--on-background-b);
    text-align: center;

    box-sizing: border-box;
    min-height: 20em;
    padding: 3em 0;
    
    background-image: url(img/Title 1.jpg);
    /* background-size: 100% */
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 100%;
}

.produt-image {
    display: none;
}

.product-name{
    font-size: 2em;
    font-weight: 500;
    line-height: 1.5;
}

.product-slogan {
    font-size: 1.1em;
    line-length: 2;
}

.dark .product-name, .dark .product-name {
    color: white;
}

.product a {
    font-size: 1.1em;
}

.product-links li {
    display: inline-block;
    margin: 0 1em;
    line-height: 1.5;
}





@media screen and (min-width: 840px) {

    .product {
        background-image: none;
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 0;
}
    .product text {
        place-self: center;
        font-size: 1.2em;
    }
    .product-image {
        display: block;
}
    .product-image img {
        max-width: 100%;
}
